[Desktop Entry]
Name=Orbit
Comment=Graph-first file intelligence IDE
Exec=/home/lamb/Projects/Orbit-Graph-based-workspace-explorer/src-tauri/target/release/orbit %F
Icon=/home/lamb/Projects/Orbit-Graph-based-workspace-explorer/src-tauri/icons/128x128.png
Type=Application
Terminal=false
Categories=System;FileTools;FileManager;
StartupNotify=true
StartupWMClass=orbit
MimeType=inode/directory;
Keywords=file;manager;graph;ide;code;explorer;
Actions=NewWindow;

[Desktop Action NewWindow]
Name=Open New Window
Exec=/home/lamb/Projects/Orbit-Graph-based-workspace-explorer/src-tauri/target/release/orbit
